.app-bar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  margin-top: 15px;
  padding-inline: 5vw;
  z-index: 10;
  min-width: 0%;
  height: 8vw;
  background-color: trasparent;
}
