.main-box {
  background-color: var(--primary-color);
  padding: var(--v-pad) var(--h-pad);
  border-radius: 5vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
}

.store-buttons {
  display: flex;
  flex-shrink: 1;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.download-button {
  height: 60px;
  display: block;
}

/* LINKS */
a {
  text-decoration: none;
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

