.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 2rem 5rem;
  gap: 2rem;
}

@media(max-width: 768px) {
  .page {
    padding: 1.5rem 2rem;
  }
}

.transition {
  height: 80vh;
}

.phone-space {
  min-height: 80vh;
  max-width: 100%;
  background-color: var(--debug-color);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 45%;
  display: flex;
  justify-content: center;
}

/* CANVAS BACKGROUND */
canvas#bg {
  position: fixed;
  inset: 0;
  z-index: -1;
}

#saved-space {
  flex-wrap: wrap-reverse;
}
