.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding: var(--v-pad) var(--h-pad);
  gap: 2rem;
}

.transition {
  height: 80vh;
}

.phone-space {
  min-height: 80vh;
  background-color: var(--debug-color);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40%;
  display: flex;
  justify-content: center;
}

/* CANVAS BACKGROUND */
canvas#bg {
  position: fixed;
  inset: 0;
  z-index: -1;
}

#saved-space {
  flex-wrap: wrap-reverse;
}
