:root {
  --background-color: oklch(0.21 0 130);
  --debug-color: transparent;
  --main-color: oklch(0.3 0 130);
  --primary-color: oklch(0.47 0.19 295);
  --secodary-color: oklch(0.8 0.17 73);
  --third-color: oklch(0.65  0.15 120);

  --h-pad: 5rem; 
  --v-pad: 2.5rem;
}

@font-face {
  font-family: 'songbird';
  src: url('../assets/fonts/TANSONGBIRD.ttf');
}

/* RESET BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.medium-width {
  width: 80%;
}

.info-box {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40%;
}

/* CONTENT BOX */
.download-box {
  width: 100%;
  max-width: 700px;
  padding: clamp(1.5rem, 5vw, 3rem);
  margin: clamp(1rem, 6vw, 8vw);
  display: flex;
  flex-direction: column;
  gap: 24px;

  z-index: 2;
}

.title {
  width: 100%;
  font-family: songbird;
}

h1 {
  letter-spacing: 0.25rem;
  font-size: clamp(2.75rem, 4vw, 4rem);
}

h2 {
  letter-spacing: 0.25rem;
  font-size: clamp(2.5rem, 3.7vw, 3.75rem);
}

h3 {
  letter-spacing: 0.125rem;
  font-size: clamp(2.25rem, 2vw, 2.5rem);
}

p {
  font-size: clamp(1.5rem, 1.5vw, 2.25rem);
}

.info {
  text-align: start;
  height: auto;
}

.saved-space-item{
  flex: 1 1 40%;
  min-width: 300px;
}

#saved-space-box {
  flex-shrink: 0 1 40%;
  display: flex; 
  background: var(--primary-color);
  background: linear-gradient(90deg, var(--primary-color) 0%, rgba(255, 170, 0, 1) 100%);
  border-radius: 50px;
  padding: 4rem 6rem;
  justify-content: center;
  align-items: center;
}

#byte-text {
  font-size: clamp(4rem, 8vw, 15vh);
  white-space: nowrap;
}

.padding {
  padding-inline: 5vw;
  box-sizing: border-box;
}

.spacing {
  display: flex;
  flex-direction: column; /* Gli elementi andranno uno sotto l'altro */
  gap: 20px;              /* Spazio tra ogni elemento */
}

/* Se vuoi che gli elementi stiano sulla stessa riga: */
.spacing-row {
  padding: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap-reverse;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition:
  opacity 0.8s ease-out,
  transform 0.8s cubic-bezier(0.22, 1, 0.36, 1); 
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  height: 100%;
  width: 100%;
  background-color: var(--third-color);
}


.logo {
  border-radius: 2rem;
  width: 300px;
  height: 300px;
  aspect-ratio: 1/1;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align-start {
  display: flex;
  justify-content: start;
}

.align-end {
  display: flex;
  justify-content: end;
}

.half {
  width: 45%;
}

.top {
  display: flex;
  align-items: top;
}

#cloud {
  top: 0px;
  position: absolute;
  z-index: -10;
  width: 150vw;
  height: 150vw;

  left: 50%;
  transform: translateX(-50%);
  background-image: url("/assets/cloud.png");
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  background-position: center;
}

#cloud-img {
  width: 100%;
  display: block;
}

.masked-bg {
  display: flex;
  position: relative;
  height: 50vh;
  inset: 0;
  background-color: var(--third-color);
  -webkit-mask-image:
  url('/assets/cloud.png');
  -webkit-mask-size: 200%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center 30%;
}

.end-content {
  padding-inline: 5vw;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#end-box {
  position: relative;
  height: 42vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
}

.small-show {
  display: none;
}

@media(max-width: 1025px){

  :root {
    --h-pad: 3rem; 
    --v-pad: 1.5rem;
  }

  .small-remove {
    display: none; 
  }

  .small-show {
    display: flex;
  }

  .half {
    width: 100%;
  }

  .masked-bg {
    -webkit-mask-position: center 15%;
  }

  .store-buttons { 
    justify-content: center;
    align-items: center;
  }

  .info,
  .title{
    text-align: center;
  }

}
